@import "/css/reset.css";
@import "/css/core.css";
@import "/css/util/all.css";

body {
    margin-bottom: 200px;
}

.gallery {
  background: #EEE;
}

.gallery-cell {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.gallery-cell > img {
    align-self: center;
}

.flickity-button {
    height: 60px !important;
    width: 60px !important;
}
